.main-content {
  height: 60vh;
  background-color: var(--main-bg);
}

.content-container {
  display: flex;
  height: 100%;
  margin: 0 2.5rem;
}

// Sidebar (trái)
.sidebar {
  width: 500px;
  background-color: var(--secondary-bg);
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius:10px ;
  margin-bottom: 1rem;
    .search-box {
    position: relative;
    margin: 1rem;
        .search-input {
            background-color: var(--active-item-bg);
            color: var(--primary-text);
            border: none;
            border-radius: 0.5rem;
            padding: 0.75rem 1rem 0.75rem 2.5rem;
            width: 70%;
            }

        .search-icon {
            position: absolute;
            left: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--secondary-text);
        }

    }
    .user-list-section{
        .h3{
            color: var(--secondary-text);
            text-transform: uppercase;
            font-size: 0.75rem;
            padding: 0.5rem 1rem;
        }
        .user-list-box {
            max-width: 400px;
            max-height: 250px; /* Đặt chiều cao tối đa cho box */
            overflow-y: auto; /* Thêm thanh cuộn khi danh sách vượt quá chiều cao */
            padding-right: 10px; /* Đảm bảo không bị tràn ra ngoài khi có thanh cuộn */
            .button{
                width: 100%;
            }
            .user-item {
                width: 100%;
               display: flex;
               align-items: center;
               padding: 0.75rem 1rem;
               transition: background-color 0.2s;
               border-radius: 0.5rem;
               margin: 0.25rem;
                    .user-item:hover {
                        background-color: var(--active-item-bg);
                    }
                    .user-item.active {
                        background-color: var(--active-item-bg);
                    }
            }
        }
    }
}



// .avatar-container {
//   position: relative;
// }

// .avatar {
//   width: 2.5rem;
//   height: 2.5rem;
//   border-radius: 50%;
//   object-fit: cover;
// }

// .status-indicator {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: 0.75rem;
//   height: 0.75rem;
//   border-radius: 50%;
//   border: 2px solid var(--sidebar-bg);
// }

// .status-indicator.online {
//   background-color: var(--status-online);
// }

// .status-indicator.offline {
//   background-color: var(--status-offline);
// }


.chat-windown {
  width: 60%;
  background-color: var(--chat-bg);
  padding: 1rem;
  border-right: 1px solid var(--border-color);
}

.content-profile {
  width: 20%;
  background-color: var(--profile-bg);
  padding: 1rem;
}

.sidebar,
.chat-area,
.profile {
  position: relative; // hoặc bỏ luôn nếu không cần
  z-index: auto; // hoặc không khai báo nếu không dùng
}
